*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  font-family: "josefin sans";
  color: #fff;
}
.container {
  width: 355px;
  padding: 0 10px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  @include media(">=1351px") {
    width: 1350px;
    padding: 0 15px;
  }
}
h1 {
  margin: 0 0 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  @include media(">=1351px") {
    font-size: 48px;
  }
}
.logo-holder {
  margin: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  @include media(">=1351px") {
    font-size: 24px;
  }
}

h2 {
  margin: 0 0 24px;
  text-transform: capitalize;
  font-family: "aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  @include media(">=1351px") {
    font-size: 36px;
  }
}
h3 {
  font-family: "josefin_sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  @include media(">=1351px") {
    font-size: 20px;
  }
}
.text-holder p {
  font-family: "josefin sans";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 0 0 24px;
  @include media(">=1351px") {
    font-size: 16px;
  }
}
.btn {
  display: inline-block;
  width: 130px;
  height: 40px;
  color: #fff;
  background-color: $blue;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  border: none;
  padding: 11px 0;
  transition: opacity ease-in-out 0.3s;
  @include media(">=1351px") {
    font-size: 14px;
    width: 213px;
    padding: 20px 0;
    height: 60px;
  }
  &:hover {
    opacity: 0.7;
  }
}
